<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="generator" content="https://github.com/i3/i3 tl8-render" />
<title>i3: i3 User’s Guide</title>
<link rel="stylesheet" href="https://i3wm.org/css/style.css" type="text/css" />
<link rel="stylesheet" href="markdownxhtml11.css" type="text/css" />
</head>
<body>
    <header>
        <a class="logo" href="/">
            <img src="https://i3wm.org/img/logo.svg" alt="i3 WM logo" />
        </a>
        <nav>
            <ul>
                <li><a style="border-bottom: 2px solid #fff" href="/docs">Docs</a></li>
                <li><a href="/screenshots">Screens</a></li>
                <li><a href="https://www.reddit.com/r/i3wm/">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://github.com/i3/i3/issues">Bugs</a></li>
            </ul>
        </nav>
    </header>
    <main>
